<h1>Welcome to the NFT Album Project!</h1>
<p>Collect famous NFTs as virtual stickers! Click bellow to acess your collection.</p>
<%= link_to "My collection", "/figures"%> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>